<!-- This JS file is to be used by flask to send print requests to zebra printers -->
<html>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <head>
    <script
      type="text/javascript"
      src="{{url_for('static', filename='zebraSDK/BrowserPrint-3.1.250.min.js')}}"
    ></script>
    <script type="text/javascript">
      function print() {
        BrowserPrint.getDefaultDevice(
          "printer",
          function (device) {
            selected_device = device;

            writeToSelectedPrinter(toZPL("{{ sampleID }}", "{{ copies }}"));
          },
          function (error) {
            alert(error);
          }
        );
      }

      function writeToSelectedPrinter(dataToWrite) {
        selected_device.send(
          dataToWrite,
          (r) => {
            console.log({ r });
          },
          alert
        );
      }

      function toZPL(sampleid, copies) {
        // since the EPC data is in hex format, we must translate the sampleid into hex first!
        const s = `
        ^XA
          ^MMC
          ^PQ${copies},${copies},0,Y
          ^RS8
          ^RFW,H,,,A^FD${ascii_to_hexa(sampleid.toLowerCase())}^FS
          ^FO200,200^A0N,50,50^FD ${sampleid}
        ^XZ`;
        return s;
      }

      function ascii_to_hexa(str) {
        var arr1 = [];
        for (var n = 0, l = str.length; n < l; n++) {
          var hex = Number(str.charCodeAt(n)).toString(16);
          arr1.push(hex);
        }
        return arr1.join("");
      }

      window.onload = print;
    </script>
  </head>
</html>
